<%- include('./header') %>

    <form class="splash-container " action="/api/admin/add-band-view" method="POST" enctype="multipart/form-data">
        <div class="card ">
            <div class="card-header">
                <h3 class="mb-1">Add Band</h3>
            </div>
            <div class="card-body">
                <!-- <div class="form-group" id="pick-image" style="display: block;" required="">
                        <h6>Choose an Image</h6>
                        <input class="form-control form-control-lg" name="profile_img" type="file" accept="image/*" id="image">
                </div> -->
                <div class="form-group">
                    <input class="form-control form-control-lg"  type="text" name="name" placeholder="name" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="description" placeholder="description" autocomplete="off">
                </div>

                <div class="form-group">
                    <input class="form-control form-control-lg"  type="datetime-local"  name="launch_date" placeholder="launch_date" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="artists_list" placeholder="artists_list" autocomplete="off">
                </div>

                <div class="form-group">
                    <input class="form-control form-control-lg"  type="text" name="popularity" placeholder="popularity" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="albums_list" placeholder="albums_list" autocomplete="off">
                </div>

                <div class="form-group">
                    <input class="form-control form-control-lg"  type="text" name="events_list" placeholder="events_list" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="category" placeholder="category" autocomplete="off">
                </div>


                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" type="submit">Add </button>
                </div>
             
               
         
        </div>
    </form>

<!-- 
    <script src="../assets/libs/js/add-news.js"></script>
    <script>
    function ValidateSize(file) {
        var FileSize = file.files[0].size / 1024 / 1024; // in MB
        if (FileSize > 1) {
            alert('File size exceeds 1 MB');
        } else {

        }
    }
    </script> -->
