<%- include('./header') %>

    <form class="splash-container " action="/api/admin/edit-user-view/<%=b._id%>?_method=PUT" method="POST">
        <div class="card ">
            <div class="card-header">
                <h3 class="mb-1">Edit User</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input class="form-control form-control-lg"  type="text" name="first_name" placeholder="first_name" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="last_name" placeholder="last_name" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="email" placeholder="email" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg"  type="text" name="country" placeholder="country" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="state" placeholder="state" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="city" placeholder="city" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg"  type="text" name="gender" placeholder="gender" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="age" placeholder="age" autocomplete="off">
                </div>
                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" type="submit">Update </button>
                </div>
             
               
         
        </div>
    </form>

<!-- 
    <script src="../assets/libs/js/add-news.js"></script>
    <script>
    function ValidateSize(file) {
        var FileSize = file.files[0].size / 1024 / 1024; // in MB
        if (FileSize > 1) {
            alert('File size exceeds 1 MB');
        } else {

        }
    }
    </script> -->
