<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
	<title>Price Comparision</title>
	<!-- Favicon -->
	<!-- <link rel="icon" type="image/png" href="/images/favicon.png"> -->
	<!-- Web Font -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">

	<!-- StyleSheet -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="/css/themify-icons.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="/css/slicknav.min.css">

	<!--StyleSheet -->
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">



</head>

<body class="js">

	<!-- Preloader -->
	<!-- <div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div> -->
	<!-- End Preloader -->


	<!-- Header -->
	<header class="header shop">
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/">
								<!-- <img src="images/logo.png" alt="logo"> -->
								<h1 class="color-red">LOGO</h1>
							</a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#" class="open"><i class="ti-search"></i></a></div>
							<div class="top-search"><a href="#" class="close"><i class="ti-close"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form" action="/products">
									<div class="container">
										<div class="row">
											<div class="col-4" id="mega-dropdown-btn1">
												<select name="all-category">
													<option selected="selected" data-display="All Categories">All Categories</option>
												</select><br>
											</div>
											<div class="col-6">
												<input type="text" placeholder="Search here..." name="search">

											</div>
											<div class="col-2">
												<button value="search" type="submit"><i class="ti-search"></i></button>
											</div>

										</div>
									</div>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<div id="mega-dropdown-btn2">
									<select name="all-category">
										<option value="" data-display="All Categories">All Categories</option>
									</select>
								</div>
								<form action="/products">
									<input name="search" placeholder="I am Shoping for . . ." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar d-none d-sm-block">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="/favorites" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>

							<div class="sinlge-bar shopping">
								<a data-toggle="modal" data-target="#signInModel" title="User" href="#" class="single-icon"><i
										class="fa fa-user-o" aria-hidden="true"></i></a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<ul class="shopping-list text-center">
										<li><a data-toggle="modal" data-target="#signInModel" title="User" href="#">Login</a></li>
										<li><a href="/account">Account</a></li>
										<li><a href="#">Logout</a></li>
									</ul>

									<!-- <div class="dropdown-cart-header">
										<span>Shoping Cart</span>
									</div>
									<ul class="shopping-list">
										<li>
                                            <a class="cart-img" href="#"><img src="https://www.91-img.com/pictures/133188-v4-oppo-f11-mobile-phone-large-1.jpg" alt="#"></a>
											<a href="#" class="remove" title="Remove this item"><i class="ti-trash"></i></a>
											<h4><a href="#">OPPO F11</a></h4>
											<p class="price"> Rs. 12,990.00 <span class="old-price"> Rs. 13,000</span></p>
										</li>
										<li>
                                            <a class="cart-img" href="#"><img src="https://www.91-img.com/pictures/133188-v4-oppo-f11-mobile-phone-large-1.jpg" alt="#"></a>
											<a href="#" class="remove" title="Remove this item"><i class="ti-trash"></i></a>
											<h4><a href="#">OPPO F11</a></h4>
											<p class="price"> Rs. 12,990.00 <span class="old-price"> Rs. 13,000</span></p>
										</li>
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">Rs. 12,990.00 </span>
										</div>
										<a href="/" class="btn animate">Checkout</a>
									</div> -->
								</div>
								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Categories dropdown -->
		<div class="mega-dropdown p-4">
			<div class="container">
				<div class="row">
					<div class="col">
						<h6>Electronics</h6>
						<li>Televisions</li>
						<li>Headphones</li>
						<li>Speakers</li>
						<li>Cameras</li>
						<li>Cameras Accessories</li>
						<li>Gaming Consoles</li>
						<li>Air Conditioners</li>
						<li>Refrigerators</li>
						<li>Washing Machines</li>

					</div>
					<div class="col ">
						<h6>Mobiles</h6>
						<li>Mobile Phones </li>
						<li>Mobile Accessories</li>
						<li>Cases and Covers</li>
						<li>Screen Protectors</li>
						<li>Screen Protectors</li>
						<li>Power bank</li>
						<li>Tablets</li>
						<li>Other Accessories</li>

						<h6>Health & Fitness</h6>
						<li>Protein</li>
						<li>Gainers</li>
						<li>BCCA</li>
						<li>Omega Fatty Acids</li>
						<li>Multivitamins</li>
					</div>
					<div class="col ">
						<h6>Computers</h6>
						<li>All Computers</li>
						<li>Computers Accessories</li>
						<li>Laptops</li>
						<li>Drivers and Storage</li>
						<li>Printer and Ink</li>
						<li>Networking Devices</li>
						<li>games</li>
						<li>Monitor</li>
						<li>Desktop</li>
					</div>
					<div class="col ">
						<h6>Men's Fashion</h6>
						<li>Clothes</li>
						<li>T-shirt</li>
						<li>Shirt</li>
						<li>Jeans</li>
						<li>Innerwear</li>
						<li>Nightwear</li>
						<li>Watches</li>
						<li>Bag & Luggage</li>
						<li>Sunglasses</li>
						<li>Shoes</li>
						<li>Sports Shoes</li>
						<li>Formal Shoes</li>
						<li>Casual Shoes</li>
						<li>Sportswear</li>
					</div>
					<div class="col ">
						<h6>Women's Fashion</h6>
						<li>Clothes</li>
						<li>T-shirt</li>
						<li>Shirt</li>
						<li>Jeans</li>
						<li>Innerwear</li>
						<li>Nightwear</li>
						<li>Watches</li>
						<li>Handbag</li>
						<li>Jewellery</li>
						<li>Sunglasses</li>
						<li>Shoes</li>
						<li>Fashion Sandals</li>
						<li>Sportswear</li>
					</div>
				</div>
			</div>
		</div>
		<!--  -->

		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-md-3">

						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
												<li class="active"><a href="#">Home</a></li>
												<li><a href="/product/id">Product</a></li>
												<li><a href="/category">Category</a></li>
												<li><a href="/products">Pages</a></li>
												<li><a href="/account">Account</a></li>
												<li class="d-sm-none"><a data-toggle="modal" data-target="#signInModel" title="User" href="#"
														class="single-icon"><i class="fa fa-user-o" aria-hidden="true"></i>Login</a></li>
												<li class="d-sm-none"><a href="/favorites"><i class="ti-heart"></i>Favorites</a></li>
											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->


	<!-- Modal -->
	<div class="modal fade" id="signInModel" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close"
							aria-hidden="true"></span></button>
				</div>
				<div class="modal-body shop login container">
					<div class="row">
						<div class="col-12 pt-4">
							<div class="row justify-content-center align-items-center tabs">
								<!-- Tab Nav -->
								<ul class="nav" role="tablist">
									<li class="nav-item col-6"><a class="nav-link active" data-toggle="tab" href="#login"
											role="tab">Login</a></li>
									<li class="nav-item col-6"><a class="nav-link" data-toggle="tab" href="#register"
											role="tab">Register</a></li>
								</ul>
								<!--/ End Tab Nav -->
							</div>
							<div class="tab-content">
								<div class="tab-pane fade show " id="register" role="tabpanel">
									<div class="login-form mx-5">
										<form method="post" action="" class="form" id="registerForm">
											<br>
											Enter your details to Register
											<div class="form-group">
												<!-- <label for="name">Name <span>*</span></label> -->
												<input type="text" class="form-control" id="name" name="name" placeholder="Enter Full name">
											</div>
											<div class="form-group">
												<!-- <label for="">Email address <span>*</span></label> -->
												<input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
											</div>
											<div class="form-group">
												<!-- <label for="phone">Phone <span>*</span></label> -->
												<input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone number">
											</div>
											<div class="form-group">
												<!-- <label for="password">Password <span>*</span></label> -->
												<input type="password" class="form-control" id="password" name="password"
													placeholder="Password">
											</div>
											<input type="submit" class="btn form-control" value="Register">
										</form>
										<div class='hr-or'></div>
										<div class="row">
											<div class="col-md-6">
												<a class="google-signin text-center btn-block btn-social btn-google" href="#">
													<span class="fa fa-google"></span> Log in with Google
												</a>
											</div>
											<div class="col-md-6">
												<a class="facebook-signin text-center btn-block btn-social btn-facebook" href="#">
													<span class="fa fa-facebook"></span> Log in with Facebook
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade show active" id="login" role="tabpanel">
									<div class="login-form mx-5">
										<form method="post" action="" class="form" id="loginForm">
											<br>
											Enter email and password to login
											<div class="form-group">
												<!-- <label for="">Email address <span>*</span></label> -->
												<input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
											</div>
											<br>
											<div class="form-group">
												<!-- <label for="password">Password <span>*</span></label> -->
												<input type="password" class="form-control" id="password" name="password"
													placeholder="Password">
											</div>
											<div class="">
												<input type="checkbox" class="" id="" name="" placeholder=""> Remember me
											</div>
											<br>
											<input type="submit" class="btn form-control" value="Login">
										</form>
										<div class='hr-or'></div>
										<div class="row">
											<div class="col-md-6">
												<a class="google-signin text-center btn-block btn-social btn-google" href="#">
													<span class="fa fa-google"></span> Log in with Google
												</a>
											</div>
											<div class="col-md-6">
												<a class="facebook-signin text-center btn-block btn-social btn-facebook" href="#">
													<span class="fa fa-facebook"></span> Log in with Facebook
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal end -->